:root {
  --color-main: #9a8c98;
  --color-border-light:#f2e9e4;
  --color-hover:#9e857f;
  --color-border-medium:#c9ada7;
}
body {
  min-height: 100vh;
  display: grid;
  align-items: start;
  justify-items: center;
}

/* Shopping Form */
.shopping {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}
.shopping #item {
  border-radius: 5px;
}

.shopping-list {
  background: var(--color-main);
  padding: 3rem;
  border-radius: 1rem;
  width: auto;
  margin: 4rem 0;
}

.shopping-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shopping-list input[type="checkbox"] {
  margin-right: 1rem;
}

.shopping-list input[type="checkbox"]:checked + .itemName {
  opacity: 0.5;
}
.shopping-list button {
  border: 2px solid var(--color-border-light);
  border-radius: 5px;
  transition: transform 0.2s;
}
.shopping-list button:hover {
  cursor: pointer;
  background-color: var(--color-hover);
  transform: scale(1.05);
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border: 1px solid var(--color-border-medium);
}
.list li button {
  display: flex;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
